body{
  font-family: Tahoma;
}
p{
  text-align:left;
  padding: 2px;
  width: 200px;
  font-weight: 900;
}
span{
  text-align:left;
  padding: 2px;
  font-wight: 900;
  border: 2px double;
  border-radius: 5px;
  padding: 2px;
}
input{
  margin-left: 35px;
}
select{
  margin-left: 35px;
}
checkbox{
  margin-left: 35px;
}
.vards{
  padding-left: 7px;
  padding-right: 7px;
}
.vecums{
  padding-left: 2px;
  padding-right: 2px;
}
.papildus{
  padding-left: 0px;
  padding-right: 30px;
}
#kaste{
  align-content: left;
  float: center;
  width: 30%;
  height: 80%;
  border: 2px double #FFAE9D;
  padding: 7px 7px 7px 7px;
  maring: 7px 7px 7px 7px;
}
button{
  background-color: #ff0000;
  border: 2px solid black;
  color: black;
  padding: 7px;
  text-align: center;
  display: inline;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 20px;
}
#submit{
  text-align: right;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
hr{
  color: black;
  width: 80%;
}
